:root {
  --font: "Roboto Mono", sans-serif;
  --primary-font-color: black;
  --secondary-font-color: white;
  --primary-color: #6da796;
  --secondary-color: #5c985d;
  --tertiary-color: #001d28;
  --low-transition: all 0.3s;
  --font-button-color: white;
  --low: 1%;
  --high: 5%;
  --font-size: 1.2em;
  --low-scale: 0.9;
  --full-width: 100vw;
  --full-box-width: 100%;
  --full-height: 100vh;
  --full-box-height: 100%;
}

* {
  font-family: var(--font);
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-color: var(--tertiary-color);
  color: var(--secondary-font-color);
  height: var(--full-height);
  transition: var(--low-transition);
  overflow: hidden;
}

body::before {
  content: "";
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: -1;

  background: linear-gradient(
    223deg,
    var(--secondary-color) 0%,
    var(--secondary-color) 50%,
    var(--tertiary-color) 100%,

    var(--secondary-color) 150%,
    var(--secondary-color) 180%,
    var(--tertiary-color) 200%,

    var(--secondary-color) 250%,
    var(--secondary-color) 280%,
    var(--tertiary-color) 300%,

    var(--secondary-color) 350%,
    var(--secondary-color) 380%,
    var(--tertiary-color) 400%
  );
  background-size: 400% 400%;
  animation: gradient-shift 5s ease infinite;
}

@keyframes gradient-shift {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

/*
  Settings content.
*/

.settings {
  width: var(--full-width);
  height: var(--full-height);
  padding-block: var(--low);
  gap: var(--high-padding);

  background: rgba(255, 255, 255, 0.27);
  backdrop-filter: blur(3.5px);
  -webkit-backdrop-filter: blur(3.5px);

  position: absolute;
  top: 0;

  display: flex;
  flex-direction: column;
}

.settings__navbar {
  width: var(--full-box-width);
}

.settings__quit {
  margin: var(--low);
  cursor: pointer;

  position: absolute;
  top: 0;
  left: 0;
}

.feather-x-circle {
  stroke: var(--tertiary-color);
  fill: white;
  animation-name: turning-around;
  animation-iteration-count: infinite;
  animation-duration: 2s;
}

@keyframes turning-around {
  0% {
    rotate: 0deg;
  }
  100% {
    rotate: 360deg;
  }
}

.navbar__container {
  width: var(--full-box-width);
  display: flex;
  justify-content: space-evenly;
  margin-bottom: 1%;
}

.navbar__item {
  color: var(--secondary-font-color);
  opacity: 0.5;
  list-style-type: none;
  list-style-position: inside;
  background-color: #6da79654;
  text-align: center;
  width: 40%;
  padding-block: var(--low);
  border-radius: 20px;
  transition: var(--low-transition);
  cursor: pointer;
}

.navbar__item-selected {
  opacity: 1;
  background-color: var(--primary-color);
}

.navbar__item:hover {
  opacity: 1;
  background-color: var(--primary-color);
  scale: 1;
}

.navbar__item:active {
  scale: 0.9;
}

.appearance {
  display: none;
  flex-direction: column;
  width: 90%;
  padding: var(--low);
  border-radius: 20px;
  margin: auto;
  background-color: #6da7963b;
}

/* The design should be improved later */
.mode {
  display: flex;
  flex-direction: column;
  width: 90%;
  padding: var(--low);
  border-radius: 20px;
  margin: auto;
  background-color: #6da7963b;
}

.appearance__theme {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(4, 1fr);
  gap: 2%;
  height: 65vh;
}

.appearance__theme button {
  font-size: 1.5em;
  background-color: var(--primary-color);
  outline: none;
  border: none;
  margin-block: 4%;
  border-radius: 20px;
  transition: var(--low-transition);
}

.mode h2,
.appearance h2 {
  text-align: center;
  margin-block: 2%;
}

.level__container {
  display: flex;
  justify-content: space-around;
}

.level__container button {
  width: 20%;
  font-size: 1.2em;
  padding-block: var(--low);
  outline: none;
  border: none;
  border-radius: 20px;
  transition: var(--low-transition);
}

.level__container button:active,
.behavior__time button:active,
.behavior__words button:active {
  scale: 0.9;
}

.level__easy {
  background-color: var(--primary-color);
  color: var(--primary-font-color);
}

.level__easy:hover {
  background-color: rgba(24, 207, 24, 0.563);
}

.level__medium {
  background-color: var(--secondary-color);
  color: var(--secondary-font-color);
}

.level__medium:hover {
  background-color: rgba(68, 116, 220, 0.597);
}

.level__hard {
  background-color: var(--tertiary-color);
  color: var(--secondary-font-color);
}

.level__hard:hover {
  background-color: rgba(237, 62, 62, 0.768);
}

.behavior__container {
  display: flex;
  flex-direction: column;
  gap: 2%;
}

.behavior__time,
.behavior__words {
  display: flex;
  gap: var(--low);
  justify-content: space-evenly;
}

.behavior__time button,
.behavior__words button {
  background-color: var(--tertiary-color);
  color: var(--secondary-font-color);
  outline: none;
  border: none;
  padding-block: 2%;
  font-size: 1.5em;
  border-radius: 20px;
  width: 20%;
  margin-block: 4%;
  transition: var(--low-transition);
}

/* 
  Theme button style.
*/

.theme__option-licorice {
  background-color: #211103 !important;
  color: white !important;
}

.theme__option-linen {
  background-color: #773344 !important;
  color: white !important;
}

.theme__option-ocean {
  background-color: #172a3a !important;
  color: white !important;
}

.theme__option-crayola {
  background-color: #e85d75 !important;
  color: black !important;
}

.theme__option-honeydew {
  background-color: #e2fcef !important;
  color: black !important;
}

.theme__option-gunmetal {
  background-color: #292f36 !important;
  color: white !important;
}

.theme__option-sunglow {
  background-color: #ffd25a !important;
  color: black !important;
}

.theme__option-duke-blue {
  color: white !important;
  background-color: #390099 !important;
}

.theme__option-raisin-black {
  background-color: #3a2e39 !important;
  color: white !important;
}

.theme__option-mint {
  background-color: #001d28 !important;
  color: white !important;
}

.theme__option-lavender {
  background-color: #eeeeff !important;
  color: black;
}

.appearance__theme button:active {
  scale: 0.9;
}

.current-game-mode {
  opacity: 0.5;
}

.score {
  width: var(--full-width);
  height: var(--full-height);
  padding-block: var(--low);
  gap: 10%;

  background: var(--tertiary-color);

  position: absolute;
  top: 0;

  display: flex;
  flex-direction: column;
  align-items: center;
}

#wpm-stat {
  width: 50%;
}

.score__stat {
  width: var(--full-width);

  display: flex;
  justify-content: space-around;
  align-items: center;
}

.score__stat h3 {
  font-size: 2em;
}

.score__stat div {
  display: inherit;
  flex-direction: column;
  align-items: center;
  color: var(--text-color);
}

#mode {
  font-size: inherit;
  background-color: transparent;
}
main {
  display: inherit;
  flex-direction: inherit;
  align-items: inherit;
}

#word-display {
  font-size: 1.7em;
  text-align: justify;
  width: 80%;
  padding: 2%;
  border-radius: 25px;
  background-color: var(--container-color);
}

option {
  background-color: rgb(0, 0, 0);
}

.results {
  display: inherit;
  flex-direction: row;
  gap: 50vw;
}

#wpm,
#accuracy {
  width: 10vw;
  font-size: 1.3em;
  text-align: center;
  background-color: var(--container-color);
  border-radius: 10px;
  line-height: 50px;
}

span.correct {
  transition: all 0.1s;
  color: #31c48d;
}

span.incorrect {
  color: red;
}

/*cursor animation + style*/

.cursor {
  border-left: 2px solid #31c48d;
  animation: blink 1s step-end infinite;
  transition: all 0.3s;
}

@keyframes blink {
  0% {
    border-color: #31c48d;
  }
  50% {
    border-color: transparent;
  }
  100% {
    border-color: #31c48d;
  }
}